.wp-like-me-box {
  display: -ms-flexbox;
  display: flex;
  background-color: #111; }
  .wp-like-me-box__figure {
    -ms-flex: none;
    flex: none;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 40%; }
    @media (min-width: 40em) {
      .wp-like-me-box__figure {
        width: 50%; } }
    .wp-like-me-box__figure > * {
      vertical-align: top;
      margin-top: 0.25rem; }
  .wp-like-me-box__body {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem; }
    @media (min-width: 40em) {
      .wp-like-me-box__body {
        padding: 1.5rem; } }
    .wp-like-me-box__body > * {
      -ms-flex: 1 0 100%;
      flex: 1 0 100%; }
  .wp-like-me-box__title {
    margin: 0 0 1rem;
    font-size: 12px;
    line-height: 1.33333;
    color: #fff;
    font-weight: bold; }
    @media (min-width: 40em) {
      .wp-like-me-box__title {
        margin: 0 0 1.5rem;
        font-size: 24px; } }
  .wp-like-me-box__like {
    display: inline-block;
    line-height: 1;
    vertical-align: top; }
  .wp-like-me-box__lead {
    margin: 1rem 0 0;
    font-size: 11px;
    line-height: 1.5;
    color: #ccc; }
    @media (min-width: 40em) {
      .wp-like-me-box__lead {
        margin: 1.5rem 0 0;
        font-size: 14px; } }
